.main_from {
  padding: 5rem 5rem 10rem 5rem;
  .form_card {
    background-color: #0074fd;
    padding: 5rem;
    border-radius: 1.5rem;
    box-shadow: 0rem 0.2rem 0.2rem 0.2rem rgba(12, 12, 12, 0.555);
  }
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.sign_up_button {
  background-color: rgb(119, 214, 119);
  border: rgb(238, 0, 0);
}
